Plan for quiz

Rules
You have 3 questions with 4 possible answers
Only one answer is correct.
You have 15 seconds to answer a question
Careful because once you click the button your answer is locked in
You will be given the score at the end.



questions
What does CSS stand for?
choice1  Cascading Style Sheet
Choice2  Central Style Sheet
Choice3  Chiltern Super Station
Choice4  Combo Symbol Script
Correct Answer: Cascading Style Sheet


What is HTML
choice1  Hypertext Markup Language
Choice2  High Tree Markup Language
Choice3  Huge Tree Markup Language
Choice4  High Text Markup Language
Correct Answer:Hypertext Markup Language

Which answer is a Tag?
choice1  Footer
Choice2  Header
Choice3  Body
Choice4  All Three
Correct Answer: All Three



