.containerise {
    width: 400px;
    height: 100% vh;
    margin-left: 30%;   
}

.hide {
    display:none;
}

.card {
    margin-top: 100px;
}

.card-body {
    background-color: aquamarine;
}


.ansabtn {
    display:flex;
    
    height: 70px;
    width: 200px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    color: blue;
    background-color: blanchedalmond;
    align-items: center;
    align-content:center
}

.ansabtn:hover {
    background-color: pink;
}


/* 1) NEED RESTART BTN and function  2) NEED TO STOP the clock and display 3) NEED ALERT -TIMEUP to work



