.hide {
    display:none;
}

.card {
    margin-top: 100px;
}

.card-body {
    background-color: aquamarine;
}


.ansabtn {
    display:flex;
    
    height: 70px;
    width: 200px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    color: blue;
    background-color: blanchedalmond;
    align-items: center;
    align-content:center
}

.ansabtn:hover {
    background-color: pink;
}






